<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Вход с вашим аккаунтом</title>
</head>

<body>
<div>
    <form th:method="POST" th:action="@{/login}">
        <h2>Вход в систему</h2>
        <div th:if="${param.error}">
            <p style="color: red">Неверное имя пользователя или пароль</p>
        </div>
        <div>
            <input name="username" type="text" placeholder="Имя/логин"
                   autofocus="true"/>
            <input name="password" type="password" placeholder="Пароль"/>
            <button type="submit">Вход</button>
            <h4><a th:href="@{/registration}">Зарегистрироваться</a></h4>
        </div>
    </form>
</div>

</body>
</html>
