<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование велосипеда</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/bicycles/{id}(id=${bike.getId()})}" th:object="${bike}">
    <label for="name">Введите название велосипеда: </label>
    <input type="text" th:field="*{name}" id="name">
    <br/>
    <label for="price">Введите цену велосипеда: </label>
    <input type="text" th:field="*{price}" id="price" />
    <br/>
    <label for="numberOfSpeeds">Введите количество скоростей велосипеда: </label>
    <input type="text" th:field="*{numberOfSpeeds}" id="numberOfSpeeds" />
    <br/>
    <label for="type">Введите тип велосипеда: </label>
    <input type="text" th:field="*{type}" id="type" />
    <br/>
    <label for="frameMaterial">Введите материал рамы велосипеда: </label>
    <input type="text" th:field="*{frameMaterial}" id="frameMaterial" />

    <br/>
    <input type="submit" value="Обновить!"/>
</form>
</body>
</html>